* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F9EAD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

/* Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header .logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 10px;
}

.header h2 {
    color: #4B2E0D;
    font-size: 24px;
    margin: 5px 0;
}

.header p {
    color: #4B2E0D;
    font-size: 16px;
}

/* Caixa de entrada de nome */
.input-container {
    margin: 20px 0;
}

input[type="text"] {
    height: 50px;
    width: 300px;
    border: 2px solid #4B2E0D;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #4B2E0D;
    background-color: #FFFFFF;
}

/* Estilos do teclado */
.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 600px;
    justify-content: center;
}

.keyboard button {
    font-family: 'Luckiest Guy', sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #4B2E0D;
    border: 2px solid #4B2E0D;
    border-radius: 5px;
    cursor: pointer;
}

/* Botão Backspace */
.backspace {
    grid-column: span 2;
}

/* Botão de confirmar */
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4B2E0D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}