<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu | Nossa Cafeteria</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&family=Pacifico&family=Unlock&display=swap" rel="stylesheet">
</head>
<body>

    <!--Cabeçalho-->
    <header>
        <section>
            <div class="container">
                <div class="banner">
                    <img src="/imagens/Cabeçalho.png">
                </div>

                <div class="bannerresponsivo">
                    <img src="/imagens/CabeçalhoResponsivo.png">
                </div>
            </div>
        </section>
    </header>
    <section>
        <div class="menu-container">
            <h1>Cardápio</h1>
            <div class="menu-grid">
                <a href="salgados.html" class="menu-category">
                    <img src="/imagens/Salgados.png" alt="Salgados">
                </a>
                <a href="bebidas.html" class="menu-category">
                    <img src="/imagens/Bebidas.png" alt="Bebidas">
                </a>
                <a href="doces.html" class="menu-category">
                    <img src="/imagens/Doces.png" alt="Doces">
                </a>
                <a href="outros.html" class="menu-category">
                    <img src="/imagens/Outros.png" alt="Outros">
                </a>
            </div>
        </div>
    </section>

</body>

</html>